<html>
   <head>
        <title>Home</title>
   </head>
   <body>
        <h2>New .Net Core App</h2>
        <p>Tutorial at <a href="https://medium.com/%40deanvniekerk/simple-net-core-webpack-and-react-overview-using-vs-code-5522da657b35">Medium</a></p>
        <div id="root"></div>

        
        <script src="~/dist/bundle.js"></script>

   </body>
</html>
